{% extends 'base.html.twig' %}
{% block title %}Create season | {{ parent() }}{% endblock %}
{% block body %}
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button type="submit">Create season</button>
    {{ form_end(seasonForm) }}
{% endblock %}



